.orange{
    height:450px;
    width:400px;
 
}

.feature3-left-content{  
    margin-right: 10%;
   
}
.feature3-right-content{  
    padding:20px;
   
}
.feature3-main-content{
    margin-top: 15%;
    
}

.feature3-h3{
    display: inline-block;
}
.play-icon{
  color:green;
}
.count{
    display: inline-block;
    margin: 5px;
}

.feature3-box{
    margin:-30px;
    padding:20px;
    height: 270px;
    width: 220px;
    background-color:#F5F5F580;
    position: relative;
    left:260px;
    bottom:280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.icon-1{
    color:rgb(165, 165, 27);
}
.icon-2{
    color:rgb(33, 5, 126)
}
.icon-3{
    color:purple
}
.icon-1 , .icon-2 ,.icon-3{
    margin:8px;
    padding:8px;
    height:30px;
    width:30px;
    background-color: aliceblue;
    border-radius: 50%;
}

@media (max-width:576px){
    .feature3-box{
        height: 200px;
        width: 200px;
        background-color:#F5F5F580;
        position: relative;
        left:80px;
        bottom:70px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .orange{
        height:450px;
        width:300px;
        margin:30px;
    }
}
    @media (min-width:576px){
            
        .feature3-main-content{
            margin-left:14%;
        }
    }
        @media (min-width:1025px){
            
            .feature3-main-content{
                margin-left:20%;
            }
    
}