.profile-icon {
  height: 70px;
  width: 70px;
  background-color: green;
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
  color: white;
}
.eye-icon {
  position: relative;
  bottom: 35px;
  left: 85%;
  width: 10%;
}

.Toastify__toast-container {
  position: fixed;
  padding-top: 4.5em;
  top: 5.7rem;
  left: 0;
  transform: translateX(-50%);
  z-index: 1001;
  width: auto;
}
